{%extends 'base.html'%}    
{% load static%}
{%block link%}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{%endblock link%}

{%block script%}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{%endblock script%}

        {%block title%}Password Change Successfully{%endblock title%}
{%block style%}

{% endblock style%}
  
  {%block main%}
  <div class="col-sm-12 offset-sm-1 text-center">
    <h3>Password Changed Sucessfully</h3>

    <div  class="text-center"><iframe src="https://i2.wp.com/media.tenor.com/images/f87ea86fe23071b0618c679eedcf66be/tenor.gif"  width="220" height="220" class="giphy-embed" frameborder="0" allowfullscreen></iframe></div>
  </div>
{%endblock main%}

