{%extends 'base.html'%}    
{% load static%}
{%block link%}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{%endblock link%}

{%block script%}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{%endblock script%}

        
{%block style%}

<style>
    @import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
</style>
{% endblock style%}
{% block title%}Autopart | Search
{% endblock title%}
  {%block main%}
  <div class="container">
    {% if product%}
<hgroup class="mb20">
    <h1>Search Results</h1>
    <h2 class="lead"><strong class="text-danger"></strong> results were found for the search for <strong class="text-danger">{{qur}}</strong></h2>								
</hgroup>
<section class="col-xs-10 col-sm-4 col-md-10">
    {% for products in product%}
    <article class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <a href="{% url 'product_details' products.id %}" title="thumbnail" class="thumbnail"><img src="{{products.product_image.url}}" alt="video.png" /></a>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-2">
            <ul class="meta-search">
                <li><i class="glyphicon glyphicon-tags"></i> <span>{{products.category}}</span></li>
                <li><i class="glyphicon glyphicon-tags"></i> <span>{{products.sub_category}}</span></li>
                <li><i class="glyphicon glyphicon-time"></i> <span>Price : $ {{products.discounted_price}}</span></li>
            </ul>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-5 excerpet">
            <h3><a href="{% url 'product_details' products.id %}" title="">{{products.title}}</a></h3>
            <p>{{products.description}}</p>						
        </div>
        <span class="clearfix borda"></span>
    </article>
    
    {%endfor%}
    
    {% else %}
    <hgroup class="mb20">
        <h1>Not Match Found</h1>
        <div>
            <img src="{% static 'img/search.jpg'%}" alt="not_found">
        </div>
    </hgroup>
    {% endif %}
    

            

</section>
</div>

{%endblock main%}

